RABBITMQ_PORT=
RABBITMQ_PORT_MANAGEMENT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}
RABBITMQ_QUEUE_NOTIFICATIONS=
PORT=